/*pathl:c:\users\fernando armira\downloads\git\olc1_proyecto1_201503961\reubicado\*/
/*pathw:c:\users\fernando armira\downloads\git\olc1_proyecto1_201503961\reubicado\*/
/* fernando */
/*



fernando
23 */
fernnado24
    /*
            
        
        Entrada archivo css
    */
    fernnado24
    /*      Entrada archivo css     */

fernando_23

fernando-23

-25

-25.25

div1 {
    COLOR: purple;
    background-color: #d8da3d;
    width: 200px
    }

    %%%%%%%%%%%%%%%%%%%%%%5

int main()
{
    float a;
    a = 1.1;
    int i, inc, j; %%
    i = 0;
    inc = 2;
    read j;

    while (i < j)
    {
        i = i + inc;
        a = a*i;
    }
?
    if (a > 10.0)
    {
        print(a + i);
    }
}
